gas_utility_project/
gas_utility_project/
__init__.py
asgi.py
settings.py
urls.py
wsgi.py
customers/
__init__.py
admin.py
apps.py
models.py
tests.py
urls.py
views.py
requests/
__init__.py
admin.py
apps.py
models.py
tests.py
urls.py
views.py
support/
__init__.py
admin.py
apps.py
models.py
tests.py
urls.py
views.py
templates/
base.html
customers/
requests/
support/
static/
css/
js/
requirements.txt