{% extends "base.html" %}

{% block content %}
    <h1>Support Tickets</h1>
    <a href="" class="btn btn-primary">Create New Ticket</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Subject</th>
                <th>Status</th>
                <th>Date Created</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.id }}</td>
                    <td>{{ ticket.subject }}</td>
                    <td>{{ ticket.get_status_display }}</td>
                    <td>{{ ticket.date_created }}</td>
                    <td>
                        <a href=""
